body {
    background-image: url("../pic/1.jpg");
    background-size: 100%;
    background-attachment: fixed;
    position: fixed;
}
  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
  }

  #img-upload{
      width: 100%;
  }
  .vox {
  display: inline-block;
  background-color: white;
  min-height: 100vh;
  height: auto;
  width: 85%;
  margin-left: 15%;
  position: fixed;
}
